

      .loading-icon {
        margin-right: 8px;
      }
      nz-select {
        width: 20%;
        margin: 0 auto;
        display:block;
      }
    
    
    
     .main{
       height:55vh;
     }
