
    <div nz-row>
      <div nz-col nzSpan="12">  
        
         <p CLASS="main">Your healthy lifestyle will 
          <span id="sp"> grow here</span> </p>
                <p class="sec">“It is health that is the real wealth, and not pieces 
                 <span id="sp"> of gold and silver.”</span>  <span id="sp2"> – Mahatma Gandh</span>   </p>
                 <app-advice-card></app-advice-card>

      </div>
      <div nz-col nzSpan="12"> 
           <img [src]=myimage2 class="back">
           
          </div>

    </div>

   